{% macro input(system) -%}
[{{ system.name }}]
num_channels = {{ system.num_channels }}
basic_channel_bandwidth = {{ system.basic_channel_bandwidth }}
pdf_backoff = {{ system.pdf_backoff }}
pdf_tx_time = {{ system.pdf_tx_time }}
packet_length = {{ system.packet_length }}
num_packets_aggregated = {{ system.num_packets_aggregated }}
path_loss_model_default = {{ system.path_loss_model_default }}
path_loss_model_indoor_indoor = {{ system.path_loss_model_indoor_indoor }}
path_loss_model_indoor_outdoor = {{ system.path_loss_model_indoor_outdoor }}
path_loss_model_outdoor_outdoor = {{ system.path_loss_model_outdoor_outdoor }}
capture_effect = {{ system.capture_effect }}
noise_level = {{ system.noise_level }}
adjacent_channel_model = {{ system.adjacent_channel_model }}
collisions_model = {{ system.collisions_model }}
constant_PER = {{ system.constant_per }}
traffic_model = {{ system.traffic_model }}
backoff_type = {{ system.backoff_type }}
cw_adaptation = {{ system.cw_adaptation }}
pifs_activated = {{ system.pifs_activated }}
capture_effect_model = {{ system.capture_effect_model }}
{%- endmacro %}
