certifi==2020.6.20
chardet==3.0.4
click==7.1.2
collectd==1.0
configparser==5.0.0
debtcollector==2.2.0
dnspython==1.16.0
eventlet==0.31.0
Flask==1.1.2
greenlet==0.4.16
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
influxdb==5.3.0
ipaddress==1.0.23
-e git+https://github.com/cnp3/ipmininet.git@80a2bf9b1ac2c0e0ac806924664e174034ae0018#egg=ipmininet
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.0.14
MarkupSafe==1.1.1
mininet @ git+https://github.com/mininet/mininet@e0436642ae1005d2ec9f58ba698125d718072293
monotonic==1.5
msgpack==0.6.1
netaddr==0.8.0
netns==1.0
oslo.config==8.3.2
oslo.i18n==5.0.1
ovs==2.13.0
pbr==5.5.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
repoze.lru==0.7
requests==2.24.0
rfc3986==1.4.0
Routes==2.4.1
ryu==4.34
six==1.15.0
sortedcontainers==2.2.2
stevedore==3.2.2
tinyrpc==1.0.4
urllib3==1.25.10
WebOb==1.8.6
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.1.0
