{% macro input(config) -%}
{%- set short_name = config.name|replace("Node_", "") -%}
{{ short_name }} = self.addCN("{{ short_name }}",
    komondor_config=dict(komondor_config["{{ config.name }}"]))
{%- endmacro -%}
