{% macro input(komondor_config) -%}
{%- for cfg in komondor_config.stations() %}
{%- set short_name = cfg.name|replace("Node_", "") -%}
{%- for client in range(1, 3) %}
{%- set client_name = short_name ~ "_C" ~ loop.index -%}
{%- set server_name = short_name ~ "_S" ~ loop.index -%}
{{ server_name }} = self.add_iperf_download_server("{{ server_name }}")
self.addLink(gw, {{ server_name }})
{{ client_name }} = self.add_iperf_download_client("{{ client_name }}", server_name="{{ server_name }}")
self.addLink({{ short_name }}, {{ client_name }})
{% endfor %}
{% endfor %}
{%- endmacro -%}
