{%- macro input(node1, node2, cls) -%}
{%- set name1 = node1|replace("Node_", "") -%}
{%- set name2 = node2|replace("Node_", "") -%}
self.addLink({{ name1 }}, {{ name2 }}, cls={{ cls }})
{%- endmacro -%}
